        <a class="btn btn-success" ng-click="vm.create()">
            <i class="glyphicon glyphicon-plus"></i>
            New Record
        </a>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
            </thead>
            <tbody>
                
                    <tr ng-repeat="row in vm.rows">
                          <th ng-if-start="!row.isEditing" scope="row">
                            <div class="btn-group" role="group" aria-label="...">
                              <a href="" title="View" class="btn btn-default btn-xs ajax"><i class="glyphicon glyphicon-eye-open"></i></a>
                              <a ng-click="vm.edit(row, $index)" title="Edit" class="btn btn-default btn-xs edit"><i class="glyphicon glyphicon-edit"></i></a>
                              <a ng-click="vm.delete(row, $index)" title="Delete" class="btn btn-default btn-xs delete"><i class="glyphicon glyphicon-trash"></i></a>
                            </div>
                          </th>
                        <td>{{row.firstname}}</td>
                        <td ng-if-end>{{row.lastname}}</td>
                        
                        <td ng-if-start="row.isEditing"><input type="text" name="firstName" class="form-control" placeholder="First Name" ng-model="row.firstname" /></td>
                        <td><input type="text" name="lastName" class="form-control" placeholder="Last Name" ng-model="row.lastname" /></td>
                        <td ng-if-end>
                            <input type="button" value="Submit" class="btn btn-primary submit" ng-click="vm.save(row, $index)"/>
                        </td>
                       
                       
                    </tr>
            </tbody>
        </table>