<div class="panel panel-primary" ng-if="body" >
    <div class="panel-heading">
            <button ng-click="body = null" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{title}}
    </div>
    <div class="panel-body">
        {{body}}
    </div>
    <div class="panel-footer">
    	<a class="btn btn-default" ng-click="body = null">Cancel </a>
    	<input ng-click="confirm()" type="submit" name="submit" class="btn btn-primary submit" value="Save changes" />
    </div>
</div>